@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.main-background-colour {
  background-color: #faf0e6;
}

/* Navbar to sit on top of the hero component */
.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Underline when hover over link */
.nav-link {
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #f59e0b;
  visibility: hidden;
  transition: 0.6s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

@media (max-width: 1023px) {
  .nav-link:hover::before {
    width: 20%;
    left: 0;
  }
}

/* Hero video to sit in viewport */
.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-screen-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 450px) {
  .hero-screen-video {
    opacity: 0.8;
  }
}

.about-image {
  position: absolute;
  width: 80%;
  height: auto;
  object-fit: cover;
  right: 38%;
}

@media (max-width: 1000px) {
  .about-image {
    width: 100%;
    right: 30%;
    opacity: 0.5;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  .about-image {
    opacity: 0.7;
  }
}
