@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.main-background-colour {
  background-color: #faf0e6;
}

/* Navbar to sit on top of the hero component */
.navbar-container {
  position: absolute;
  /* padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Underline when hover over link */
.nav-link {
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #f59e0b;
  visibility: hidden;
  transition: 0.6s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

@media (max-width: 1023px) {
  .nav-link:hover::before {
    width: 20%;
    left: 0;
  }
}

/* Hero video to sit in viewport */
.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-screen-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.7; */
}

.about-image {
  position: absolute;
  width: 80%;
  height: auto;
  object-fit: cover;
  right: 38%;
}

@media (max-width: 1000px) {
  .about-image {
    width: 100%;
    right: 30%;
    opacity: 0.7;
  }
}
